.centre-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.white-background {
    background-color:white;
}

.blue-background {
    background-color:cadetblue
}

h1 {
    text-align: center;
}

.centre-text-white {
    text-align: center;
    color: white;
}

.fixed-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 70px;
}